<!-- preloader start -->
<div class="preloaderintro">
  <div class="ax-spinner ax-spinner-wave">
    <div class="ax1"></div>
    <div class="ax2"></div>
    <div class="ax3"></div>
    <div class="ax4"></div>
    <div class="ax5"></div>
  </div>
</div>
<!-- preloader end -->

<!-- content start -->
 <div id="boxintro">
    <div id="boxskip">
      <button id="skipbtn">SKIP INTRO</button>
    </div>

    <!-- Frame 1 -->
    <div id="frame1" data-frame="7000">
      <div class="bgintro">
        <img class="animfadebg" data-time="0" alt="background" src="../../assets/img/_MG_6753LK R.jpg" />
      </div>
      <div class="overlayintro"></div>
      <div class="contentintro">
        <div class="logointro animbouncefall" data-time="0">
          <img alt="logo" src="../../assets/imgintro/logo-intro.png" />
        </div>
        <div class="taglineintro animfadeIn" data-time="2200">HELLO MY NAME IS</div>
        <div class="taglineintro animbouncefall" data-time="3400">CHIBUZOR JOEL</div>
        <div class="myname animfadeIn" data-time="3600">Building Seamless Full Stack Web & Data Analysis Solutions</div>
        <div class="myname animfadeInDown" data-time="4500">WELCOME TO MY PORTFOLIO</div>
      </div>
    </div>

    <!-- Frame 2 -->
    <div id="frame2" data-frame="5000">
      <div class="bgintro">
        <img class="animfadebg" data-time="0" alt="background" src="../../assets/img/_MG_6833DR.jpg" />
      </div>
      <div class="overlayintro"></div>
      <div class="contentintro">
        <div class="taglineintro animbouncefall" data-time="300">Come and knock my door</div>
        <div class="subheading animfadeInDown" data-time="2000">
          I'll be very happy to be Your partner,<br />
          and let's make something great together!
        </div>
      </div>
    </div>

    <!-- Frame 3 -->
    <div id="frame3" data-frame="6000">
      <div class="bgintro">
        <img class="animfadebg" data-time="0" alt="background" src="../../assets/img/_MG_6810HY.jpg" />
      </div>
      <div class="overlayintro"></div>
      <div class="contentintro">
        <div class="taglineintro animbouncefall" data-time="900">
          Team worker to Induce the Creative<br />Juice among
        </div>
        <div class="subheading animflipInY" data-time="2200">
          the colleagues with a View to deliver the Best<br />and New in the business
        </div>
      </div>
    </div>

    <!-- Frame 4 -->
    <div id="frame4" data-frame="6000">
      <div class="bgintro">
        <img class="animfadebg" data-time="0" alt="background" src="../../assets/img/_MG_6861CG.jpg" />
      </div>
      <div class="overlayintro"></div>
      <div class="contentintro">
        <div class="logointro animbouncefall" data-time="300">
          <img alt="logo" src="../../assets/imgintro/logo-intro.png" />
        </div>
        <div class="taglineintro animbouncefall" data-time="1200">
          Creative Solution Provider<br />as a Web Developer & Data Analyst
        </div>
        <div class="subheading animbouncefall" data-time="2300">
          I know the best solutions in Web Development & Data Analysis, and I'm here for you
        </div>
      </div>
    </div>
  </div>
<!-- intro end -->


<!-- website start -->
<div id="wrappermodern">
  <!-- Sidebar start -->
  <div id="sidebar-wrappermodern">
    <div class="sidebar-nav">
      <div class="sidebar-brand">
        <a href="#"><img alt="background" src="../../assets/img/modern-logo.png"></a>
      </div>
      <ul>
        <li><a class="active" id="home-btn">HOME</a></li>
        <li><a id="about-btn">ABOUT</a></li>
        <li><a id="resume-btn">RESUME</a></li>
        <li><a id="skill-btn">SKILL</a></li>
        <li><a id="porto-btn">PORTOFOLIO</a></li>
        <li><a id="contact-btn">CONTACT</a></li>
      </ul>

      <!-- footer end -->
      <div id="wrapfooter" class="opaci">
        <div id="soc-icon">
          <!-- <a class="glyph-icon flaticon-facebook25" href=""></a> -->
          <a class="glyph-icon flaticon-whatsapp" href=""></a>
          <a class="glyph-icon flaticon-linkedin10" href="https://www.linkedin.com/in/chibuzor-onyedikachi-764548290/"
            target="_blank"></a>
          <a class="fab fa-whatsapp" href=" https://wa.me/message/JHVJA4F4K7QSE1 " target="_blank"></a>
        </div>
        <div id="footer">©all rights reserved. chibuzor joel 2024</div>
      </div>
      <!-- footer end -->
    </div>
    <div class="holdsidebar"></div>
  </div>
  <!-- sidebar end -->

  <!-- navigation mobile start -->
  <div class="anim-nav animated fadeInRight" id="nav-icon">
    <div class="menu-line"></div>
    <div class="menu-line1"></div>
    <div class="menu-line2"></div>
  </div>
  <!-- navigation mobile end -->


  <!-- Page Content start -->
  <div id="page-content-wrappermodern"><!-- wrappermodern start -->
    <div class="container-fluid"><!-- container start -->
      <div class="row"><!-- row start -->

        <!-- home start -->
        <div id="home" class="mainpage current">
          <div id="homeSlider">
            <div class="bgmodern"><img alt="background"
                src="../../assets/img/_MG_6833DR.jpg"></div>
            <div class="bgmodern"><img alt="background"
                src="../../assets/img/_MG_6861CG.jpg"></div>
            <div class="bgmodern"><img alt="background"
                src="../../assets/img/_MG_6810HY.jpg"></div>
          </div>
          <div class="overlayintro"></div>
          <div class="contenthome">

            <!-- Subscribe start -->
            <a id="overBtn" class="modernicon icon animfadeInDownBig" data-time="0"><img alt="background"
                src="../../assets/img/sound-icon.png"></a>
            <div id="Sub" class="overSub">
              <div id="subwrap">
                <form id="subscribe" action="https://on3-step.com/tf/modern/dark/subscribe.php" method="post"
                  name="subscribe">
                  <input class="subscribfield subscribeemail" id="subscribeemail" name="subscribeemail" type="text">
                  <button class="modernbuttonSub button" id="submit-2" type="submit">Subscribe</button>
                </form>
                <div class="subscribesuccess">Thank you for fill your email</div>
              </div>
            </div>
            <!-- Subscribe end -->

            <h1 class="animfadeInUpBig" data-time="300">HELLO I’M</h1>
            <h2 class="animfadeInUpBig" data-time="600">CHIBUZOR JOEL</h2>
            <div id="homeSlidertext" class="animfadeInUpBig" data-time="900">
              <h3>FULL STACK WEB DEVELOPER</h3>
              <h3>DATA ANALYST</h3>
              <h3>UI/UX DESIGN ENTHUSIAST</h3>
              <h3>PASSIONATE ABOUT SCALABLE WEB SOLUTIONS</h3>
            </div>
            <a id="hireme" class="modernbutton button animfadeInUpBig" data-time="1200">HIRE ME</a>
            <a class="modernbutton button animfadeInUpBig" data-time="1500" href="../../assets/img/jtech cv.pdf"
              download="My_CV.pdf">
              DOWNLOAD MY CV
            </a>

          </div>
        </div>
        <!-- home end -->

        <!-- about start -->
        <div id="about" class="commonpage">
          <div class="bgmodern"><img alt="background"
              src="../../assets/img/_MG_6810HY.jpg"></div>
          <div class="overlayintropage"></div>

          <div class="contentpage">

            <div class="col-lg-12 spacedown">
              <h3 class="animfadeInUpBig" data-time="600">Know more about me</h3>
              <h1 class="animfadeInUpBig" data-time="900">ABOUT ME</h1>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="modernicon icon animfadeInUpBig" data-time="1200"><img alt="background"
                  src="../../assets/img/male-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1000">
                <strong>Name :</strong><br /> Chibuzor Joel
              </p>
            </div>



            <div class="col-md-4 col-xs-12">
              <div class="modernicon icon animfadeInUpBig" data-time="1400"><img alt="background"
                  src="../../assets/img/home-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1300">
                <strong>Address :</strong><br />36, ojimi str, OJO Lagos.
              </p>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="modernicon icon animfadeInUpBig" data-time="1500"><img alt="background"
                  src="../../assets/img/phone-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1400">
                <strong> Phone :</strong><br /> (+234) 9035 188 726
              </p>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="modernicon icon animfadeInUpBig" data-time="1600"><img alt="background"
                  src="../../assets/img/email-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1500">
                <strong>Email :</strong> <br> chibuzorjoel72@gmail.com
              </p>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="modernicon icon animfadeInUpBig" data-time="1700"><img alt="background"
                  src="../../assets/img/globe-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1600">
                <strong> Nationality :</strong><br /> Nigeria
              </p>
            </div>

            <div class="col-lg-12 col-xs-12 spaceup spacedown">
              <p class="animfadeInUpBig" data-time="1900">
                <img class="imgcontent" alt="profile" src="../../assets/img/_MG_6749DY.jpg" style="height: 300px; width: 350px;">
                I am a passionate Full Stack Web Developer and Data Analyst with over 3 years of experience specializing
                in building
                robust and scalable web applications. Skilled in both frontend and backend technologies, I excel in
                creating seamless, user-friendly interfaces and efficient server-side logic.

                <br /><br />

                Proficient in HTML5, CSS3, JavaScript, and frameworks like Angular for the frontend, as well as Node.js,
                Express.js, and databases like MongoDB and MySQL for the backend, I deliver complete end-to-end
                solutions.
                I am also well-versed in RESTful APIs, authentication mechanisms, cloud-based deployment, and
                data-driven
                approaches to enhance application functionality.

                <br /><br />

                As a creative problem-solver, I thrive both as an independent contributor and as a collaborative team
                member, ensuring innovation and top-notch results for every project. My goal is to merge creativity and
                technology to provide impactful digital experiences while maintaining scalability and performance.


              </p>
            </div>
            <div class="col-md-6 spacedown animfadeInUp" data-time="2100">
              <h3 class="spacedown modern-color">Frontend Development</h3>
              <p>Creating dynamic, responsive, and user-friendly interfaces using modern frontend technologies such as
                HTML, CSS, JavaScript, and frameworks like Angular.</p>
            </div>
            <div class="col-md-6 spacedown animfadeInUp" data-time="2200">
              <h3 class="spacedown modern-color">Backend Development</h3>
              <p>Building robust server-side logic, RESTful APIs, and database architectures using technologies like
                Node.js,
                Express.js, MongoDB, and MySQL to ensure scalable and efficient web applications.</p>
            </div>
            <div class="col-md-6 spacedown animfadeInUp" data-time="2300">
              <h3 class="spacedown modern-color">Full Stack Solutions</h3>
              <p>Developing complete web applications from end to end, integrating frontend interfaces with backend
                services to deliver seamless and scalable solutions.</p>
            </div>
            <div class="col-md-6 spacedown animfadeInUp " data-time="2400">
              <h3 class="spacedown modern-color">Data Analysis</h3>
              <p>Utilizing data analysis techniques to derive insights, visualize trends, and support decision-making
                using
                tools like Python, Pandas, SQL, and Power BI.</p>
            </div>

            <br>
            <!-- count stat start -->
            <div id="wrap-modern-count" class="animfadeInDown" data-time="2500">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                  <span class="stat-count highlight">2+</span>
                  <div class="milestone-details">Projects Completed</div>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                  <span class="stat-count highlight">200+</span>
                  <div class="milestone-details">Frontend Features Implemented</div>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                  <span class="stat-count highlight">9+</span>
                  <div class="milestone-details">Technologies Mastered</div>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 spacedown">
                <div class="milestone-counter">
                  <span class="stat-count highlight">1+</span>
                  <div class="milestone-details">Web Applications Built</div>
                </div>
              </div>
            </div>
            <!-- count stat end -->

          </div>
        </div>
        <!-- about end -->

        <!-- resume start -->
        <div id="resume" class="commonpage">
          <div class="bgmodern"><img data-time="0" alt="background"
              src="../../assets/img/_MG_6833DR.jpg"></div>
          <div class="overlayintropage"></div>

          <div class="contentpage">

            <div class="col-lg-12 spacedown">
              <h3 class="animfadeInUpBig" data-time="600">My Work Experience</h3>
              <h1 class="animfadeInUpBig" data-time="900">MY RESUME</h1>
            </div>

            <!-- Frontend Experience Timeline Start -->

            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="1200"><img alt="background"
                  src="../../assets/img/mag-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1000">
                <strong>Frontend Development <br />2020 to 2021</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="1300">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="1300">
                    <h5 class="animfadeInUpBig" data-time="1300">Basic HTML/CSS</h5>
                    <p class="animfadeInUpBig" data-time="1400">Developed foundational static websites using HTML and
                      CSS, focusing on clean and semantic markup.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="1400"><img alt="background"
                  src="../../assets/img/nextmag-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1300">
                <strong>Responsive Web Design <br />2020 to 2021</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="1500">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="1500">
                    <h5 class="animfadeInUpBig" data-time="1500">CSS3 and Media Queries</h5>
                    <p class="animfadeInUpBig" data-time="1600">Implemented responsive design principles, using CSS3 and
                      media queries to ensure cross-device compatibility.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="1600"><img alt="background"
                  src="../../assets/img/mouse-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1500">
                <strong>TypeScript Development <br />2020 to 2021</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="1600">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="1700">
                    <h5 class="animfadeInUpBig" data-time="1700">TypeScript and Advanced JavaScript</h5>
                    <p class="animfadeInUpBig" data-time="1800">Enhanced websites with interactive features, dynamic
                      elements, and animations using TypeScript and modern JavaScript features.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="1800"><img alt="background"
                  src="../../assets/img/satelit-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1900">
                <strong>Frontend Frameworks <br />2021 to 2022</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="1900">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="2000">
                    <h5 class="animfadeInUpBig" data-time="2000">Angular</h5>
                    <p class="animfadeInUpBig" data-time="2300">Started working with frontend frameworks like Angular to
                      build single-page applications (SPAs) with dynamic content.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="1800"><img alt="background"
                  src="../../assets/img/star-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1900">
                <strong>Advanced JavaScript <br />2022 to 2023</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="1900">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="2000">
                    <h5 class="animfadeInUpBig" data-time="2000">ES6 and Asynchronous JS</h5>
                    <p class="animfadeInUpBig" data-time="2300">Mastered ES6+ syntax and asynchronous JavaScript with
                      Promises, async/await for handling complex data fetching and manipulations.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="1800"><img alt="background"
                  src="../../assets/img/cult-icon.png"></div>
              <p class="animfadeInUpBig" data-time="1900">
                <strong>Progressive Web Apps <br />2022 to 2023</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="1900">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="2000">
                    <h5 class="animfadeInUpBig" data-time="2000">PWA Development</h5>
                    <p class="animfadeInUpBig" data-time="2300">Worked on building Progressive Web Apps (PWAs) that
                      offer offline capabilities and improved performance for mobile users.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="modernicon icon animfadeInUpBig" data-time="2000"><img alt="background"
                  src="../../assets/img/star-icon.png"></div>
              <p class="animfadeInUpBig" data-time="2100">
                <strong>Data Analysis & Visualization <br />2023 to Present</strong>
              </p>
            </div>

            <div class="modern-timeline-centered col-md-7 animfadeInUpBig" data-time="2100">
              <div class="modern-timeline-entry">
                <div class="modern-timeline-entry-inner">
                  <div class="modern-timeline-icon"></div>
                  <div class="modern-timeline-label animfadeInUpBig" data-time="2200">
                    <h5 class="animfadeInUpBig" data-time="2200">Python, SQL & Power BI</h5>
                    <p class="animfadeInUpBig" data-time="2300">
                      Gained experience in data analysis using Python libraries like Pandas and NumPy, SQL for querying
                      datasets,
                      and Power BI for data visualization to derive insights and improve decision-making.
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <!-- Frontend Experience Timeline End -->


            <!-- Testimonial Section Start -->
            <div id="owl-testimonial" class="owl-carousel animfadeInUpBig spacedown" data-time="2000">
              <div class="item col-md-12">
                <blockquote>
                  <h3>Cyril Chinemerem</h3>
                  <p>"Working with this team was an absolute game-changer for my business. They understood my vision and
                    brought it to life in ways I never imagined. Their dedication and passion were evident from start to
                    finish."</p>
                  <small>CEO at <cite title="Company Name">Innovative Solutions</cite></small>
                </blockquote>
              </div>

              <div class="item col-md-12">
                <blockquote>
                  <h3>Obi Blessing</h3>
                  <p>"I couldn't be happier with the results. They took the time to really understand what I wanted and
                    delivered beyond my expectations. It's rare to find a team that genuinely cares about the success of
                    your project."</p>
                  <small>Founder at <cite title="Company Name">Creative Vision</cite></small>
                </blockquote>
              </div>

              <div class="item col-md-12">
                <blockquote>
                  <h3>Steve John</h3>
                  <p>"From the very first conversation, I knew I was in good hands. The team was responsive,
                    professional, and truly listened to my needs. I felt supported every step of the way, and the end
                    result was more than I could have hoped for."</p>
                  <small>Project Manager at <cite title="Company Name">Tech Innovators</cite></small>
                </blockquote>
              </div>
            </div>
            <!-- Testimonial Section End -->


          </div>
        </div>
        <!-- resume end -->

        <!-- skill start -->
        <div id="skill" class="commonpage">
          <div class="bgmodern"><img data-time="0" alt="background"
              src="../../assets/img/_MG_6861CG.jpg"></div>
          <div class="overlayintropage"></div>

          <div class="contentpage">

            <div class="col-lg-12 spacedown">
              <h3 class="animfadeInUpBig" data-time="600">What I Excel At</h3>
              <h1 class="animfadeInUpBig" data-time="900">MY SKILLS</h1>
            </div>

            <div class="col-md-6 spacedown">
              <p class="animfadeInUpBig" data-time="1200">My Professional Strengths</p><br />
              <p class="animfadeInUpBig" data-time="1400">
                <strong>
                  "The best measure of expertise is not in isolated achievements, but in the consistent, everyday
                  application of skills."
                </strong>
              </p><br />
              <p class="animfadeInUpBig" data-time="1600">
                I am a passionate Full-Stack Developer & Data Analyst with a keen eye for detail and a commitment to
                delivering exceptional user experiences. My professional journey has been driven by curiosity,
                continuous learning, and a dedication to quality.
                <br /><br />
                Whether crafting intuitive frontend designs, building robust backend architectures, or analyzing complex
                datasets, my focus remains on solving real-world problems with clean and maintainable code. My ability
                to collaborate effectively and stay on top of emerging trends helps me bring projects to life
                efficiently and creatively.
                <br /><br />
                Over the years, I have honed my skills in modern frontend technologies like <strong>HTML5, CSS3,
                  JavaScript,
                  and Angular</strong>, as well as backend development using <strong>Node.js, Express, and relational
                  databases
                  like MySQL</strong>.Additionally, I have developed expertise in Data Analysis, leveraging
                   <strong>Python (Pandas, NumPy), SQL, and Power BI </strong>
                  to extract valuable insights from data, build visualizations, and support decision-making processes.
                   From building interactive user interfaces to implementing seamless integrations
                with
                backend services and APIs, I aim to deliver products that not only meet but exceed user expectations.
                <br /><br />
                My approach to development emphasizes user-centric design, scalability, accessibility, and adherence to
                best practices, ensuring every project is inclusive, robust, and and data-driven.
                 I thrive on transforming complex requirements into elegant solutions, whether it’s through seamless UI/UX, efficient backend logic, or insightful data analytics. 
                <br /><br />
                <strong>Key Skills:</strong>
              <ul>
                <li>Responsive and adaptive design for web and mobile platforms</li>
                <li>Performance optimization and code refactoring</li>
                <li>Backend development with Node.js, Express, and database design</li>
                <li>Cross-browser compatibility and debugging</li>
                <li>Version control with Git and team workflows</li>
                <li>Proficiency in frameworks such as Angular and backend technologies</li>
                <li>Data Analysis & Visualization using Python, SQL, and Power BI</li>
                <li>Transforming raw data into meaningful insights for business growth</li>
              </ul>




            </div>

            <div class="col-md-6 spaceup">
              <div class="content-skill">
                <div class="col-skill">
                  <ul id="listskill">
                    <li><span class="expand photograhy"></span><em><strong>HTML & CSS</strong></em></li>
                    <li><span class="expand photoshop"></span><em><strong>JavaScript</strong></em></li>
                    <li><span class="expand potrait"></span><em><strong>Angular</strong></em></li>
                    <li><span class="expand potrait"></span><em><strong>TypeScript</strong></em></li>
                    <li><span class="expand editorial"></span><em><strong>Node.js & Express</strong></em></li>
                    <li><span class="expand frontend"></span><em><strong>RESTful API Development</strong></em></li>
                    <li><span class="expand editorial"></span><em><strong>Responsive Design</strong></em></li>
                    <li><span class="expand frontend"></span><em><strong>Database Management (MySQL,
                          MongoDB)</strong></em></li>
                    <li><span class="expand frontend"></span><em><strong>Version Control with Git</strong></em></li>
                    <li><span class="expand potrait"></span><em><strong>Data Analysis (Python, Pandas, SQL)</strong></em></li>
                    <li><span class="expand photograhy"></span><em><strong>Data Visualization (Power BI, Matplotlib, Seaborn)</strong></em></li>
                  </ul>
                </div>
              </div>
            </div>



          </div>
        </div>
        <!-- skill end -->

        <!-- portofolio start -->
        <div id="portofolio" class="commonpage">
          <div class="bgmodern"><img data-time="0" alt="background"
              src="../../assets/img/_MG_6749DY.jpg"></div>
          <div class="overlayintropage"></div>

          <div id="navfilter">
            <h3 class="animfadeInUpBig" data-time="600">My Portofolio</h3>
            <p class="animfadeInUpBig" data-time="900">Showcasing by Joel</p>
            <ul id="filters" class="animfadeInUpBig" data-time="1200">
              <li data-filter="*" class="filt-modern selected">All</li>
              <li class="space">/</li>
              <li data-filter=".cityscape" class="filt-modern">Frontend</li>
              <li class="space">/</li>
              <li data-filter=".landscape" class="filt-modern">Angular</li>
              <li class="space">/</li>
              <li data-filter=".industrial" class="filt-modern">Backend</li>
            </ul>
          </div>
          <div id="contentgallery" class="animfadeInUpBig" data-time="1600">
            <!-- start gallery -->
            <div id="galleryporto">

              <div class="port big-img cityscape" data-content="Modern UI design for a web application">
                <a href="../../assets/img/Screenshot (89).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (89).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img cityscape" data-content="UI and responsive design combined">
                <a href="../../assets/img/Screenshot (102).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (102).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img cityscape landscape" data-content="Custom UI for a web application">
                <a href="../../assets/img/Screenshot (103).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (103).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img cityscape industrial landscape" data-content="Interactive web application">
                <a href="../../assets/img/Screenshot (94).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (94).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img cityscape industrial landscape" data-content="Modern web app UI design">
                <a href="../../assets/img/Screenshot (104).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (104).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img cityscape industrial landscape" data-content="Interactive web application">
                <a href="../../assets/img/Screenshot (105).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (105).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img cityscape landscape" data-content="Custom UI for a web application">
                <a href="../../assets/img/Screenshot (106).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (106).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img landscape" data-content="Custom UI for a web application">
                <a href="../../assets/img/Screenshot (90).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (90).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img landscape" data-content="Interactive web application">
                <a href="../../assets/img/Screenshot (109).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (109).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img industrial" data-content="Responsive">
                <a href="../../assets/img/Screenshot (108).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (108).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img landscape" data-content="Custom UI for a web application">
                <a href="../../assets/img/Screenshot (107).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (107).png" alt="imageportofolio" />
                </a>
              </div>

              <div class="port big-img" data-content="Modern web app UI design">
                <a href="../../assets/img/Screenshot (87).png">
                  <span class="rollover"></span>
                  <img src="../../assets/img/Screenshot (87).png" alt="imageportofolio" />
                </a>
              </div>

            </div>
            <!-- gallery end -->

          </div>
        </div>
        <!-- portofolio end -->

        <!-- contact start -->
        <div id="contact" class="commonpage">
          <div class="bgmodern"><img data-time="0" alt="background"
              src="../../assets/img/_MG_6810HY.jpg"></div>
          <div class="overlayintropage"></div>

          <div class="contentpage">

            <div class="col-md-5 col-xs-12 spacedown">
              <h3 class="animfadeInUpBig" data-time="300">HERE YOU FIND ME</h3>
              <p class="animfadeInUpBig" data-time="600">36 Ojimi str, OJO Lagos, Nigeria </p>
            </div>

            <div class="col-md-3 col-xs-12 spacedown">
              <h3 class="animfadeInUpBig" data-time="900">CALL ME</h3>
              <p class="animfadeInUpBig" data-time="1200">+(234) 903-5188-726</p>
            </div>

            <div class="col-md-4 col-xs-12 spacedown">
              <h3 class="animfadeInUpBig" data-time="1500">EMAIL ME</h3>
              <p class="animfadeInUpBig" data-time="1800">chibuzoronyedikachi72@gmail.com</p>
            </div>
            <!-- contact form -->
            <div class="col-md-12 col-xs-12 spaceup">
              <div class="form-group contact animfadeInUpBig" data-time="2200">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="row" id="form1">
                  <input formControlName="name" id="name" name="name" placeholder="Your Name" type="text">
                  <div class="error" *ngIf="f['name'].touched && f['name'].invalid">Please check your name</div>

                  <input formControlName="email" id="email" name="email" placeholder="Your E-mail" type="email">
                  <div class="error" *ngIf="f['email'].touched && f['email'].invalid">Please check your email</div>

                  <textarea formControlName="message" id="message" name="message" placeholder="Your Enquiry"
                    rows="4"></textarea>
                  <div class="error" *ngIf="f['message'].touched && f['message'].invalid">Please check your message
                  </div>



                  <!-- Success & Error Messages -->
                  <div class="alert alert-success fade-in" *ngIf="mailSuccess">
                    ✅ Thank you! Your message has been sent.
                  </div>
                  <div class="alert alert-danger fade-in" *ngIf="mailFailed">
                    ❌ Error! Your message could not be sent. Please try again.
                  </div>

                  <button type="submit" [disabled]="isSubmitting" class="modernbutton button spaceup animfadeInUpBig"
                    data-time="2000">
                    SEND
                  </button>

                  <a class="modernbutton button animfadeInUpBig" data-time="1500" href="../../assets/img/jtech cv.pdf"
                    download="My_CV.pdf">
                    DOWNLOAD MY CV
                  </a>
                </form>

              </div>
            </div><!-- contact form end -->

          </div>
        </div><!-- contact end -->
      </div><!-- row end -->
    </div><!-- container end  -->
  </div><!-- wrappermodern end -->
  <!-- page content end -->
</div>
<!-- end website -->

<!-- sound start -->
<div id="soundintro" class="soundOnintro"></div>
<audio id="playerintro" loop>
  <source src="soundintro/musicintro.mp3" type="audio/mpeg">
</audio>
<!-- sound end -->